h1, h2, h3, h4, h5, h6 {
  font-family: 'Bangers', cursive;
}

body {
  font-family: 'Oswald', sans-serif;
}

button {
  text-transform: uppercase;
}

.order-recipe {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #212121;
  color: #fff;
  opacity: 0.98;
}

.recipe-text {
  opacity: 1;
}
